RewriteEngine On
#RewriteRule ^(.*)$ public/$1 [L]
#
Options +SymLinksIfOwnerMatch

<ifModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 3600 seconds"
    ExpiresByType image/gif "access plus 2592000 seconds"
    ExpiresByType image/jpeg "access plus 2592000 seconds"
    ExpiresByType image/png "access plus 2592000 seconds"
    ExpiresByType text/css "access plus 604800 seconds"
    ExpiresByType text/javascript "access plus 604800 seconds"
    ExpiresByType application/x-javascript "access plus 604800 seconds"
</ifModule>


### Подсказать браузеру схему кеширования через заголовки в ответе сервера
# 43200 - день, 604800 - неделя, 2592000 - месяц

<ifModule mod_headers.c>
    <filesMatch ".(ico|pdf|flv|jpg|jpeg|png|gif|swf|woff)$">
        Header set Cache-Control "max-age=2592000, public"
    </filesMatch>
    <filesMatch ".(css|js)$">
        Header set Cache-Control "max-age=604800, public"
    </filesMatch>
    <filesMatch ".(html|txt)$">
        Header set Cache-Control "max-age=172800, public, must-revalidate"
    </filesMatch>
</ifModule>

<ifModule mod_headers.c>
    <filesMatch ".(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf|woff)$">
        Header unset ETag
        FileETag None
    </filesMatch>
</ifModule>

### Сжать ответ сервера для перечисленных MIME типов
<IfModule mod_deflate.c>
    <FilesMatch ".(css|js|x?html?|php|xml)$">
        SetOutputFilter DEFLATE
    </FilesMatch>
</IfModule>

<ifModule mod_gzip.c>
    mod_gzip_on Yes
    mod_gzip_dechunk Yes
    mod_gzip_item_include file .(css|js|x?html?|php|xml|woff)$
    mod_gzip_item_include handler ^cgi-script$
    mod_gzip_item_include mime ^text/.*
    mod_gzip_item_include mime ^application/x-javascript.*
    mod_gzip_item_exclude mime ^image/.*
    mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>

Redirect 301 /katalog/velotrenazheri http://housefit.ua/housefit-velotrenazhery
Redirect 301 /katalog/begovie-dorozhki http://housefit.ua/begovie-dorojki
Redirect 301 /katalog/orbitreki http://housefit.ua/orbitreki
Redirect 301 /katalog/skami-dlja-pressa-i-zhima http://housefit.ua/skamji-dlya-pressa-jima
Redirect 301 /katalog/silovoe-oborudovanie http://housefit.ua/silovoe-oborudovanie
Redirect 301 /katalog/trenazheri http://housefit.ua/trenajeri
Redirect 301 /katalog/prof-oborudovanie http://housefit.ua/professionaljnaya-liniya
Redirect 301 /katalog/ganteli--shtangi http://housefit.ua/ganteli-shtangi 
Redirect 301 /katalog/turizm http://housefit.ua/turizm
Redirect 301 /katalog/relaks http://housefit.ua/vibromassajeri
Redirect 301 /katalog/aksessuari http://housefit.ua/aksessuari
Redirect 301 /trenajeri/s-013 http://housefit.ua/stepperi
