.product-box {
    table-layout: fixed;
    display: table;
    text-align: left;
    width: 100%;
    margin: auto;

    padding-left: 60px;
    padding-right: 20px;
}
._stock h3{
    border:none;
    padding-left: 70px;
    color:#e74c3c;
    padding-top:10px;
    margin-bottom: 0;}
._stock .slider-arrow {background:none;}
._stock{padding: 20px 45px 0 30px;position:relative}
._stock .block{position:relative}
._stock .block:after{
    content: "";
    position: absolute;
    border: 1px solid #e6e6e6;
    top: 0;
    left: 48px;
    bottom: 35px;
    right: 48px;
    z-index: -1;}
._stock .slider2{    /*border: 1px solid #E6E6E6;*/
   /* padding-bottom: 30px;*/
    padding: 0 50px 30px;}
.product-box .box{
    display: table-cell;
    /*width: 25%;*/
    vertical-align: middle;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
._stock h3:after {
    left: 70px;

    border-color: #e74c3c;
}
.product-box .box ._half:first-child{padding-right:9px;
    width: 100px;
    box-sizing: border-box;
    text-align: right;}
.product-box .box .item-new-price{
    line-height: 14px;
    padding: 10px 15px;
font-size:20px;
}

.product-box .box img {
    max-width: 100%;
    max-height: 92px;
    border: 1px solid #dddddd;
}
.product-box .box ._img {
    max-width: 45%;
    display: inline-block;
    vertical-align: middle;
}
.product-box .box ._img img{
    /*max-width: 140px;*/
}
.buy-set ._price{font-size:26px}
.buy-set{text-align:center;}
.product-box .box ._half p, .product-box .box ._half b{margin:0;}
.product-box .box ._half{

    width: calc(100% - 100px);
    display: inline-block;
    vertical-align: middle;
    vertical-align: top;
    margin-left: -4px;
    display: inline-block;
    padding-right:30px;
}
.slider2 li .product-box div {
    height: auto;

}
.buy-set .col.item-prices {
    padding-top: 12px;
    padding-bottom: 8px;
    vertical-align: top;
    display: inline-block;
    margin: 0;
}
.product-box .addtocart-button-item{
    max-width: 180px;
}

.buy-set {
    padding: 0 70px;
    display: table-cell;
    position:relative;
    vertical-align: middle;
}
.buy-set .addtocart-button-item input {
    width: 100%;
}

h3{

    clear: both;
}
.buy-set:after, .buy-set:before{
    content:"";
    border-top: 1px solid #E96049;
    position: absolute;
    width: 30px;
    left:20px;
    top:45%;
}
.buy-set:before{margin-top:-10px;}
.buy-set:after{}
.box:not(:first-child):before {
    content: "";
    border-top: 1px solid #E96049;
    vertical-align: middle;
    position: absolute;
    left: -40px;
    top: 50%;
    width: 30px;
    margin-top: -10px;
}
.box:not(:first-child):after {
    content: "";
    vertical-align: middle;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: -25px;
    border-left: 1px solid #e96049;
    height: 30px;
}
.clone ._price {
    font: 33px "Roboto", sans-serif;
    color: #e74c3c;
    line-height: 50px;
}
.item-prices.clone{text-align:center;}
._price {
    display: inline-block;
    padding: 0px 8px;
    background-color: #FFF3B5;
    border-radius: 3px;
    margin: 0;
    font: 18px "Roboto", sans-serif;
    color: #e74c3c;
    line-height: 32px;
}
._crossed {
    opacity: .5;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    clear: both;
    position: relative;
    text-align: left;
    display: table;
}
._crossed:after{content:"";width:100%; border-top:1px solid red;position:absolute;left:0;top:50%;}
._stock .slider-nav{
    bottom:6px;
}

._stock h1 {
    padding-top: 20px;
    padding-left: 0;
    margin-left: 0;
}


._stock .slide {
    max-height: 180px;
    overflow: hidden;
}

._stock .slider-arrow{
    top:-15px;
    height: 200px;
}
._stock .slider-arrow img {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display:none
}
._stock  .slider-arrow--right img {
    left: 50%;
    margin-left: -12px;
}
._stock .slider-arrow--right{background:url("/frontend/images/arrow-stock.png") 0 30% no-repeat;padding: 24px 15px 24px 25px;}
._stock .slider-arrow--left{background:url("/frontend/images/arrow-stock.png") -45px 30% no-repeat;padding: 24px 25px 24px 15px;}
._stock .slider-nav__item {
    border: 1px solid rgb(212, 212, 212);
    width: 15px;
    height: 15px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.28) inset;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.28) inset;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.28) inset;
}

 ._set {
     border: 1px solid #7cb342;
     border-radius: 3px !important;
     margin-bottom: 15px;
     margin-top: 25px;
     /*background: #F9F9F9;*/
 }

._set h5{
    position: relative;
    top: -24px;
    background: #fff;
    display: inline-block;
    padding: 2px 10px;
    left: 15px;
    border-radius: 2px;
    font-size: 14px;
    color:#7CB342;
    /*border: 1px solid #7CB342;*/
    /*box-shadow: 0 2px 8px rgba(0, 0, 0, 0.23);*/
}
.listLightbox li:first-child {
    position: relative;
}
@media screen and (max-width:1240px){
.product-box {
    padding-left: 50px;
    padding-right: 50px;
}
._stock .slider2 {
    /* border: 1px solid #E6E6E6; */
    /* padding-bottom: 30px; */
    padding: 0 0px 30px;
}
.buy-set {
    padding: 0 20px 0 70px;
}
}
@media screen and (max-width:993px){
._stock .product-box {
    padding: 0 40px;
}
.buy-set .addtocart-button-item input {
    width: 120px;
}
.box:not(:first-child):before {
    left: -2px;
}
.product-box .box {
    display: block;
}
._stock .slide {
    height: auto!important;
    padding-bottom: 15px;
}
.buy-set {
    padding: 0 19px;
}
._stock  .buy-set{
    vertical-align: bottom;
    padding-bottom: 80px;
}
._stock .slide {
    height: auto;

}
._stock  .addtocart-button-item input{
    height: 50px;
}

.box:not(:first-child):before {
    left: calc((100% - 30px)/2);
    top: -10px;
    margin-top: -10px;
}
.box:not(:first-child):after {
    margin-top: -25px;
    left: 50%;
    top: -10px;
}
.box:not(:first-child){
    margin-top:40px;
}
.buy-set .col.item-prices {
    max-width: 200px;
    position: relative;
    left: calc((100% - 200px)/2);
}
.product-box .box ._half:first-child {
    padding: 0 9px;
}
}
@media screen and (max-width:840px){
.buy-set:after, .buy-set:before {
    left: 45%;
    top: 30%;
}
.product-box .box ._half {
    padding-right: 0;
}
}
@media screen and (max-width:600px){
.product-box .box img {
    max-height: 180px;
}
.product-box .box ._half:first-child {
    padding: 0 0 0 9px;
}
._stock .slider-nav {
    left: 45%!important;
}
.product-box .box ._half, .product-box .box ._half:first-child{
    width: 100%;
    text-align: center;
}

._crossed {
    padding: 0 20px;
    margin: 0 auto;
}
.product-box .box ._half p, .product-box .box ._half b {
    margin: 0 auto;
}
._stock .addtocart-button-item input {
    padding: 0px!important;
    background-image: none;
}
._stock .buy-set {
    vertical-align: bottom;
    padding-bottom: 20px;
    display: block;
}
._stock{
    padding: 0 0px 30px;
}
.buy-set:after, .buy-set:before {
    top: -10px;
    left:45%;
}
._stock .buy-set {

    margin-top: 25px;
    padding-top: 5px;
}
}